/**
 * App.css
 * Global Styles applied across the application
 */
.container-fluid {
  padding: 0;
}

.nanoleaf-container-md {
  height: 400px;
  width: 400px;
}

/* Default Common Body Text */
.common-body-text {
  text-align: right;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #525f7f;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.section-gray {
  background-color: #f6f9fc;
}


/* Code Styles */
code .token.keyword {
  color: #6772e5;
  font-weight: 600;
}

code .token.function, code .token.url {
  font-weight: 600;
  color: #3297d3;
}

.token.string, code .token.value {
  font-weight: 400;
  color: #159570;
}
