/**
 * App.css
 * Global Styles applied across the application
 */
.container-fluid {
  padding: 0;
  margin-top: 50px; /* Used for the navbar fixed */
}

.nanoleaf-container-md {
  height: 400px;
  width: 400px;
}

/* Default Common Body Text */
.common-body-text {
  text-align: right;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #525f7f;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.section-gray {
  background-color: #f6f9fc;
}

.section-dark-blue {
  background: #313554 linear-gradient(192deg,#313554,#3b3c60);
}

.title-dark {
 color: white; /* Must be white for a dark background! */
}

.text-dark-bg {
  color: white;
}

h1 {
  color: #32325d;
}

/* Code Styles */
code .token.keyword {
  color: #6772e5;
  font-weight: 600;
}

code .token.function, code .token.url {
  font-weight: 600;
  color: #3297d3;
}

.token.string, code .token.value {
  font-weight: 400;
  color: #159570;
}

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #32325d;
  margin: .75em 0;
}

.subtitle {
  font-weight: 300;
  color: #6772e5;
  display: block;
}

/* Buttons */
.common-Button {
  border: 0;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.common-Button:hover {
  color: #7795f8;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  text-decoration: none;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}


.common-Button--default {
  color: #fff!important;
  background: #6772e5 !important;
}

.common-Button--default:hover {
  color: #fff;
  background-color: #7795f8;
  transform: translateY(-1px);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  text-decoration: none;
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
